.bold {
    font-weight: bold;
}
.unbold {
    font-weight: normal;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.justify {
    text-align: justify;
}
.center {
    text-align: center;
}